.container#all {
  display: flex;
  flex-direction: row;
  width: 80%;
  float: right;
  margin-top: 30px;
}
.container#dash {
  display: flex;
  flex-direction: column;
}
.new {
  width: 30%;
  margin: 10px;
  margin-top: 0px;
  text-align: center;
  font-size: 30px;
}
button#down {
  background-color: #198754;

}

.allExams {
  flex: 70%;
  margin: 10px;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}



.calendar {
  background: #000000;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  height: 370px;
  perspective: 1000;
  transition: 0.9s;
  transform-style: preserve-3d;
  width: 100%;
}
.tableExam{
  margin: 0px;
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  width: 100%;
  
}
.tableExam thead{
  border-bottom: black solid 2px;
}
div#createExam {
  width: 75%;
  float: right;
  
}
/* Front - Calendar */
.front {
  transform: rotateY(0deg);
}

.current-date {
  border-bottom: 1px solid rgba(73, 114, 133, 0.6);
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}
.contact {
  display: flex;
  flex-direction: row;
}
.conts {
  height: 150px;
  overflow-y: scroll;
}
.contact h5 {
  font-size: 15px;
  text-align: left;
}
.contact img {
  width: 25px;
  float: left;
  margin-left: 30px;
  margin-right: 20px;
}
.lects {
  background-color: rgb(236, 236, 236);
  box-shadow: #000000;
  height: 210px;
  border-radius: 20px;
  width: 90%;
  margin: 10px;
  margin-top: 10px;
}
.lects h3 {
  font-size: 20px;
  font-weight: lighter;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.current-date h1 {
  color: #dfebed;
  font-size: 15px;
  font-weight: 300;
}

.week-days {
  color: #dfebed;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 5px 5px;
  font-size: 10px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weeks {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  font-size: 10px;
}

.weeks div {
  display: flex;
  font-size: 1.2em;
  font-weight: 300;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.last-month {
  opacity: 0.3;
}

.weeks span {
  padding: 7px;
}

.weeks span.active {
  background: #f78536;
  border-radius: 50%;
}

.weeks span:not(.last-month):hover {
  cursor: pointer;
  font-weight: 600;
}

.event {
  position: relative;
}

.event:after {
  content: "•";
  color: #f78536;
  font-size: 1.4em;
  position: absolute;
  right: -4px;
  top: -4px;
}

/* Back - Event form */

.back {
  height: 100%;
  transform: rotateY(180deg);
}

.back input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(73, 114, 133, 0.6);
  color: #dfebed;
  font-size: 1.4em;
  font-weight: 300;
  padding: 30px 40px;
  width: 100%;
}

.info {
  color: #dfebed;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 30px 40px;
}

.info div:not(.observations) {
  margin-bottom: 40px;
}

.info span {
  font-weight: 300;
}

.info .date {
  display: flex;
  justify-content: space-between;
}

.info .date p {
  width: 50%;
}

.info .address p {
  width: 100%;
}

.actions {
  bottom: 0;
  border-top: 1px solid rgba(73, 114, 133, 0.6);
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.actions button {
  background: none;
  border: 0;
  color: #fff;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
  width: 50%;
}

.actions button:first-of-type {
  border-right: 1px solid rgba(73, 114, 133, 0.6);
}

.actions button:hover {
  background: #497285;
  cursor: pointer;
}

.actions button:active {
  background: #5889a0;
  outline: none;
}

/* Flip animation */

.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
}
table#tExam {
  width: 90%;
  margin: auto;
}
.listE h1{
  text-align: center;
}
button#downBtn{
  width: 100%;
  margin: 5px;
  margin-top: 0px;
}
button#downBtn a{
  color: #fff;
}
label.gen{
  background-color: #f0f0f0;
  margin: 5px;
  margin-top: 0px;
  padding: 5px;
  padding-top: 0px;
  border: 1px solid rgb(204, 204, 204);
  min-width: 250px;
  border-radius: 5px;
  
}
.input#paper{
  overflow-y: scroll;
  overflow-x: scroll;
  height: 200px;
}
input#dd{
  width: 100px;
}
button#redirect{
  width: 30%;
  margin-left: 50px;
  margin-bottom: 20px;
  background-color: rgb(109, 2, 2);
}
textarea#gender {
  margin: 5px;
  width: 400px;
  height: 200px;
}
label#descript{
  margin: 5px;
  width: 300px;
  height: 100px;
}
h4#fd{
  margin-left: 50px;
}